<!doctype html>
<html
    lang="en"
    class="single no-js{{ with .File }} {{ .BaseFileName }}{{ end }}{{ with .Params.class }}{{ range . }} {{ . }}{{ end }}{{ end }}{{ if .Params.status }} {{ .Params.status }}{{ end }}"
>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>{{ .Page.Title }}</title>
        <meta
            content="{{ default .Site.Params.author .Params.author }}"
            name="author"
        />
        {{ $sass := resources.Get "css/main.scss" | css.Sass (dict "outputStyle"
        "compressed" "enableSourceMap" true) | fingerprint }} {{ $style := $sass
        | css.Sass }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" />
        {{ with .Params.css }} {{ range . }}
        <link href="css/{{ . }}.css" rel="stylesheet" />
        {{ end }} {{ end }}
        <script>
            document.documentElement.classList.remove("no-js");
            document.documentElement.classList.add("js");
        </script>
    </head>
    <body>
        {{ if isset .Params "3dcarousel" }}
          {{ partial "3dcarousel.html" . }}
        {{ end }}
        {{ .Content }}
    </body>

    {{ with .Params.js }}
      {{ range . }}
        <script src="{{ printf "js/%s.js" . | relURL }}"></script>
      {{ end }}
    {{ end }}

    <script src="js/modal.js"></script>
</html>
